body {
    background-color: #000;
    color: #fff;
    text-transform: lowercase;
    font-size: 1rem;
    font-family: serif;
}

a {
    color: #0000ff;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: circle;
}

img {
    max-width: 100%;
    max-height: 100%;
}

main {
    width: 500px;
    margin: auto;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 10px;
}

.bordered {
    border-image:  url(/onlinedevil/img/border.png) 40% round;
    border-width:  28px;
    border-style:  solid;
}

/*For small screens*/
@media screen and (max-width: 400px) {
    main {
        width: 350px;
    }
}